@model IEnumerable<ChallengeBlog.Models.Posts>
@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<h1 style="text-align:center">POST CREADOS</h1>
<br />
<br />
<br />
<div class="widewrapper main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <div class="row">
                    @foreach (var item in Model)
                    {
                        if (item.Imagen==(null))
                        {
                            item.Imagen = new Byte[0];
                        }
                        <div class="col-md-6 col-sm-6">
                            <article class=" blog-teaser">
                                <header>
                                    @{
                                        var base64 = Convert.ToBase64String(item.Imagen);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    }

                                    <img src="@imgSrc" style="max-width:100%;width:auto;height:auto;" />
                                   
                                    <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
                                    <span class="meta">@Html.DisplayFor(modelItem => item.FechaCreacion), @Html.DisplayFor(modelItem => item.Categoria)</span>
                                    <hr>
                                </header>
                                <div class="body">

                                    @Html.DisplayFor(modelItem => item.Contenido)
                                </div>

                                <div class="clearfix">
                                    @Html.ActionLink("Detalles", "Detalles_Post", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "SoftDelete", new { id = item.ID })
                                </div>
                            </article>
                        </div>
                    }
                </div>
                <br />
                <br />



                <div class="paging">

                </div>
            </div>


        </div>
    </div>
</div>